unpackaged-base-flows/config/base-samples/flows/Create_Relationships_from_List_View.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Client_to_Collection</name>
        <label>Add Client to Collection</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>relToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieved_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Client</name>
        <label>Assign Client</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>relSingle.GRMS__Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieved_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relSingle.GRMS__FieldWorker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fieldWorker.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relSingle.GRMS__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_the_relationship_type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Client_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Survey_Client</name>
        <label>Survey Client?</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Survey Client</defaultConnectorLabel>
        <rules>
            <name>Contact_Type_is_NOT_Survey_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieved_Contacts.GRMS__ContactType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Survey Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieved_Contacts</targetReference>
            </connector>
            <label>Contact Type is NOT Survey Client</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>fieldWorkerChoiceSet</name>
        <dataType>String</dataType>
        <displayField>GRMS__LoginEmail__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GRMS__ContactType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field Worker</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>fieldWorker.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationshipTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GRMS__Type__c</picklistField>
        <picklistObject>GRMS__FieldWorkerClientRelation__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Relationships from List View {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Relationships from List View</label>
    <loops>
        <name>Retrieved_Contacts</name>
        <label>Retrieved Contacts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Retrieve_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Survey_Client</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Relationships</name>
        <label>Create Relationships</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>relToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Contacts</name>
        <label>Retrieve Contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieved_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Field_Worker</name>
        <label>Choose Field Worker</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrieve_Contacts</targetReference>
        </connector>
        <fields>
            <name>field_worker_choices</name>
            <choiceReferences>fieldWorkerChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the Field Worker</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Choose_the_relationship_type</name>
            <choiceReferences>RelationshipTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the relationship type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;Relationships created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Field_Worker</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>fieldWorker</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GRMS__FieldWorkerClientRelation__c</objectType>
    </variables>
    <variables>
        <name>relToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GRMS__FieldWorkerClientRelation__c</objectType>
    </variables>
</Flow>
